body{
	background-image: url(img/10.jpg);
	background-size:cover;
	background-position:center;
	background-attachment: fixed;
}
.main{
	border: 5px solid black;
	width: 80%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	justify-content: space-around;
	background-color: rgb(224, 255, 255);
}
.item{
	border: 3px solid red;
	width: 45%;
	height: 400px;
	margin: 25px;
	background-size:cover;
	background-position:center;
	opacity: 0.7;
	border-radius: 100px;
}
.item:hover{

	box-shadow: 3px -3px 50px black, -3px 3px 50px black;
	transition: 2s;
	opacity: 1;
	transform: scale(1.2) rotate3d(1,1,1,360deg);
	z-index: 100;
}